/*
Jen Shin
15 Jan 2018
styles.css
style sheet for dating website
 */

.italic {
    font-style: italic;
    margin-left: 20px !important;
    margin-right: 20px !important;

}

.strong {
    font-weight: 700;
}

img {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.form-control {
    border: none;
}

textarea {

    white-space: normal !important;
    overflow-y: scroll !important;

}

/*.table th, .table td, .table tr, .table {
    border-top: none !important;
    border-left: none !important;
    border-bottom: none !important;
}
.fixed-table-container {
    border:0px;
    border-bottom: none !important;
}*/

#roundTop{
    border-radius: 15px 15px 0 0 !important;
}

#roundBottom{
    border-radius: 0 0 15px 15px !important;
}
